#{extends 'main.html' /}
#{set title:'Farm Details' /}

<ul class="breadcrumb">
	<li>
		<a href="@{CattleRegistrations.cattleList()}">Cattle List</a> <span class="divider">/</span>
	</li>
</ul>

<div class="page-header">
	<h1>${title}</h1>
</div>

<table class="table table-striped table-details">
    <tbody>
	    <tr>
	        <td>ID</td>
	        <td>${firmFacility.id}</td>
	    </tr>
	    <tr>
	        <td>Name</td>
	        <td>${firmFacility.name}</td>
	    </tr>
	    <tr>
	        <td>Display Name</td>
	        <td>${firmFacility.displayName}</td>
	    </tr>
	    
    </tbody>
</table>
<form>
		<fieldset class="consultant">
			<legend>Consultants</legend>
			<div class="row enums">
				#{deadbolt.externalizedRestriction externalRestrictions:['Assign Enumerator']}
				<div class="span">
					#{input 'allConsultants.user.displayName', type:'select', items:allConsultants, multiple:'multiple' /}
				</div>
				<div class="span2">
					<a class="btn btn-success">&gt;</a><br>
					<a class="btn btn-danger">&lt;</a>
				</div>
				#{/deadbolt.externalizedRestriction}
				<div class="span" style="height:100px;">
					#{input 'firmFacility.consultants', type:'select', items:firmFacility==null?false:firmFacility.consultants, multiple:'mutiple' /}
				</div>
			</div>
		</fieldset>
		
		<fieldset class="vetclinic">
			<legend>Vet Clinics</legend>
			<div class="row enums">
				#{deadbolt.externalizedRestriction externalRestrictions:['Assign VetClinic']}
				<div class="span">
					#{input 'allVetClinics.user.displayName', type:'select', items:allVetClinics, multiple:'multiple' /}
				</div>
				<div class="span2">
					<a class="btn btn-success">&gt;</a><br>
					<a class="btn btn-danger">&lt;</a>
				</div>
				#{/deadbolt.externalizedRestriction}
				<div class="span">
					#{input 'firmFacility.vetClinics', type:'select', items:firmFacility==null?false:firmFacility.vetClinics, multiple:'mutiple' /}
				</div>
			</div>
		</fieldset>
	</form>
#{deadbolt.externalizedRestriction externalRestrictions:['Assign Consultant']}
<script>
	$('.consultant > .enums .btn-success').click(function(e){
		$.ajax('@@{Users.assignConsultants()}', {
        	type: 'POST',
        	data: {
        		farmId: '${firmFacility.id}',
        		enums: $('.consultant .enums select:first').val(),
        		remove: false
        	}
        }).done(function() {
    		$('.consultant .enums select:last').append($('.consultant .enums select:first :selected'));
			$('.consultant .enums select:first :selected').remove();
    	}).error(function(){
    		alert('Error Occured');
    	});
	});

	$('.consultant > .enums .btn-danger').click(function(e){
		alert('eee');
		$.ajax('@@{Users.assignConsultants()}', {
        	type: 'POST',
        	data: {
        		farmId: '${firmFacility.id}',
        		enums: $('.consultant .enums select:last').val(),
        		remove: true
        	}
        }).done(function() {
    		$('.consultant .enums select:first').append($('.consultant .enums select:last :selected'));
			$('.consultant .enums select:last :selected').remove();
    	}).error(function(){
    		alert('Error Occured');
    	});
	});
	
	$('.vetclinic > .enums .btn-success').click(function(e){
		$.ajax('@@{Users.assignVetClinics()}', {
        	type: 'POST',
        	data: {
        		farmId: '${firmFacility.id}',
        		enums: $('.vetclinic .enums select:first').val(),
        		remove: false
        	}
        }).done(function() {
    		$('.vetclinic .enums select:last').append($('.vetclinic .enums select:first :selected'));
			$('.vetclinic .enums select:first :selected').remove();
    	}).error(function(){
    		alert('Error Occured');
    	});
	});

	$('.vetclinic > .enums .btn-danger').click(function(e){
		alert('eee');
		$.ajax('@@{Users.assignVetClinics()}', {
        	type: 'POST',
        	data: {
        		farmId: '${firmFacility.id}',
        		enums: $('.vetclinic .enums select:last').val(),
        		remove: true
        	}
        }).done(function() {
    		$('.vetclinic .enums select:first').append($('.vetclinic .enums select:last :selected'));
			$('.vetclinic .enums select:last :selected').remove();
    	}).error(function(){
    		alert('Error Occured');
    	});
	});
</script>
#{/deadbolt.externalizedRestriction}
