#{extends 'main.html' /}
    <section id="feature2" >
        <div class="container">	
			<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs"><!--tab-->
				<ul id="myTabs" class="nav nav-tabs" role="tablist">
				<!--<li class="active" role="presentation">
				<a id="home-tab" aria-expanded="true" aria-controls="home" data-toggle="tab" role="tab" href="@{Users.userlist()}">View User</a>		</li>
				-->
				<li class="active" role="presentation">
				<a href="@{Users.userlist()}">View User</a>		</li>
				<li class="" role="presentation">
				<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="@{Users.usercreate()}" aria-expanded="false">Create User</a>		</li>
				<li class="" role="presentation">
				<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="@{Users.definerole()}" aria-expanded="false">Define Roles</a>		</li>
				<li class="" role="presentation">
				<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="@{Users.fieldofficerlist()}" aria-expanded="false">Field Officer List</a>		</li>
				
				</ul>
				<div id="myTabContent" class="tab-content">			
				</div>
			</div><!--/tab-->
        </div><!--/.container-->
    </section><!--/#feature-->
	
