<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>progress tracker</title>
	
	<!-- core style -->
    <link href="public/style/bootstrap.min.css" rel="stylesheet">
    <link href="public/style/font-awesome.min.css" rel="stylesheet">
    <link href="public/style/animate.min.css" rel="stylesheet">
    <link href="public/style/prettyPhoto.css" rel="stylesheet">
    <link href="public/style/main.css" rel="stylesheet">
    <link href="public/style/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon(2).ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
		        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                       <div class="social">
                            <ul class="social-share">
                                <li style="padding-right:20px"><a href="#"><img src="public/images/s_logo1.png" alt="logo"></a></li>
                                <li style="padding-right:130px"><a href="#"><img src="public/images/s_logo2.png" alt="logo"></a></li>
                                <li style="padding-right:45px"><a href="#"><img src="public/images/s_logo3.png" alt="logo"></a></li> 
                                <li style="padding-right:20px"><a href="#"><img src="public/images/s_logo4.png" alt="logo"></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i style="color:#006cb5" class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                    </button>
                    <a class="navbar-brand" href="index.html"><img src="public/images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="account.html">Accounts</a></li>
						<li><a href="data.html">Data</a></li>
						<li class="active"><a href="profile.html">Profiles</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Reports<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li ><a href="graduation.html">Graduation Tracker</a></li>
                                <li><a href="#">Wage Transfer Tracker</a></li>
                                <li><a href="#">SWAPNO Result Tracker</a></li>
                                <li><a href="#">Public Work Tracker</a></li>
								<li><a href="#">UP Capacity Tracker</a></li>
								<li><a href="#">Field Officer Tracker</a></li>
                            </ul>
                        </li>
						<li class="dropdown">
						<a class="dropdown-toggle " aria-expanded="false" role="button" data-toggle="dropdown" href="#">
						<img class="img-circle" width="30px" src="public/images/man1.jpg">
						<i class="caret"></i>						</a>
                           <ul class="dropdown-menu" role="menu">
								<li style="text-align:center">
								<img class="img-circle"  width="100px" alt="User Image" src="public/images/man1.jpg">								</li>
								<li class="dropdown-header"  style="text-align:center">Dr Sumaiya Mamoozar</li>
								<li>
								<a  style="text-align:center" href="#">View Profile</a>								</li>
								<li>
								<a  style="text-align:center" href="#">Sign out</a>								</li>
						  </ul>
                        </li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
    <section id="feature2" >
        <div class="container">
		
		
			<div class="col-sm-12 col-md-12">
			<div class="row" style="margin-bottom:20px"> <!-- main col left --> 
						 <div class="starter-template3">
							<div class="col-md-3">
								<select id="f1_gn_q11_elem1" class="form-control" name="f1_gn_q11_elem1">
									<option value="01">District </option>
									    <option id="03" value="BANDARBAN">BANDARBAN</option>
									<option id="04" value="BARGUNA">BARGUNA</option>
								</select>
							</div>

							<div class=" col-md-3">
								<select id="f1_gn_q11_elem1" class="form-control" name="f1_gn_q11_elem1">
									<option value="01">Upazila </option>
									    <option id="03" value="BANDARBAN">BANDARBAN</option>
									<option id="04" value="BARGUNA">BARGUNA</option>
								</select>
							</div>

							<div class=" col-md-3">
								<select id="f1_gn_q11_elem1" class="form-control" name="f1_gn_q11_elem1">
									<option value="01">Union </option>
								    	<option id="03" value="BANDARBAN">BANDARBAN</option>
									<option id="04" value="BARGUNA">BARGUNA</option>
								</select>
							</div>
							<div class="col-md-3">
								<input id="f1_gn_q11_elem1" class="form-control" value=" ID" name="f1_gn_q11_elem1">
							</div>
                         </div> <!-- main col right -->
                      </div><!--/row-->
			<div class="row">
            <!--/.col-xs-6.col-lg-4-->
			<div class="col-xs-12 col-lg-12">
			<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading2" role="tab" id="headingOne">
			<table >
					</table>
			   <table class="table table-striped"><!--table body-->
					<thead>
						 <tr>
							<th> <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
							<div class="btn-group-md">
								<img src="public/img/photo.png" alt="">							</div>
							</a>							</th>  
							<th>Ratna Halder</th>
							<th>ID:57182937654602</th>
							<th></th>
							<th></th>
							<th></th>
						 </tr>
				  </thead>
			  </table>
          </div>
		   <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			 <div class="panel-body">
				 <div class="row">
                <div class="col-md-3 col-lg-3 "> <img alt="User Pic" src="public/img/photo1_2.png" class="img-circle img-responsive"> </div>
                 <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td>Ratna Halder</td>
                      </tr>
                      <tr>
                      <tr>
                        <td>Graduation score:</td>
                        <td>80%</td>
                      </tr>
                      <tr>
                        <td>Training received</td>
                        <td>Ok</td>
                      </tr>
                        <td>Alerts :</td>
                        <td><i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems</td>
                      </tr>
                      <tr>
                        <td>Actions :</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
					  <tr>
                        <td>Notes :</td>
                        <td>Very long description here that may not fit into the page and may cause design problems</td>
                      </tr>
					  <tr>
                        <td>Demography :</td>
                        <td>8</td>
                      </tr>
					  <tr>
                        <td>Field officer in charge :</td>
                        <td>Mokhles Khan</td>
                      </tr>
                     
                    </tbody>
                  </table>
                  
                 <!-- <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>-->
                </div>
              </div>
			</div>
		  </div>
	  </div>
	  <div class="panel panel-default">
		<div class="panel-heading2" role="tab" id="headingTwo2">
	       <table class="table table-striped">
                <thead>
                   <tr>
                     <th> <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo">
                     <div class="btn-group-md">
                        <img src="public/img/photo2.png" alt="">                     </div>
                     </a>					 </th>  
                     <th>Hafiza Akter</th>
                     <th>ID:57182937654602</th>
                     <th></th>
                     <th></th>
					 <th></th>
                   </tr>
                </thead>
		</table><!--//table body-->
    </div>
    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		<!--<div class="panel-body">  profile detail
		  <div class="panel panel-info">
             <div class="panel-heading">
              <h3 class="panel-title">Sheena Kristin A.Eschor</h3>
            </div>-->
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 "> <img alt="User Pic" src="public/img/photo2_2.png" class="img-circle img-responsive"> </div>
                 <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td>Hafiza Akter</td>
                      </tr>
                      <tr>
                      <tr>
                        <td>Graduation score:</td>
                        <td>80%</td>
                      </tr>
                      <tr>
                        <td>Training received</td>
                        <td>Ok</td>
                      </tr>
                        <td>Alerts :</td>
                        <td><i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems</td>
                      </tr>
                      <tr>
                        <td>Actions :</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
					  <tr>
                        <td>Notes :</td>
                        <td>Very long description here that may not fit into the page and may cause design problems</td>
                      </tr>
					  <tr>
                        <td>Demography :</td>
                        <td>8</td>
                      </tr>
					  <tr>
                        <td>Field officer in charge :</td>
                        <td>Mokhles Khan</td>
                      </tr>
                     
                    </tbody>
                  </table>
                  
                 <!-- <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>-->
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading2" role="tab" id="headingTwo">
	  <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree3" aria-expanded="false" aria-controls="collapseTwo">
          <div class="btn-group-md">
                        <img src="public/img/photo3.png" alt="">                      </div>
        </a></th>  
                    <th>Halima Akter</th>
                    <th>ID:57182937654602</th>
                    <th></th>
                    <th></th>
					<th></th>
                  </tr>
                </thead>
				</table>
       </div>
    <div id="collapseThree3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	<div class="panel-body">
      <div class="row">
                <div class="col-md-3 col-lg-3 "> <img alt="User Pic" src="public/img/photo3_2.png" class="img-circle img-responsive"> </div>
                 <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td>Halima Akter</td>
                      </tr>
                      <tr>
                      <tr>
                        <td>Graduation score:</td>
                        <td>80%</td>
                      </tr>
                      <tr>
                        <td>Training received</td>
                        <td>Ok</td>
                      </tr>
                        <td>Alerts :</td>
                        <td><i class="fa fa-warning danger"></i> Very long description here that may not fit into the page and may cause design problems</td>
                      </tr>
                      <tr>
                        <td>Actions :</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
					  <tr>
                        <td>Notes :</td>
                        <td>Very long description here that may not fit into the page and may cause design problems</td>
                      </tr>
					  <tr>
                        <td>Demography :</td>
                        <td>8</td>
                      </tr>
					  <tr>
                        <td>Field officer in charge :</td>
                        <td>Mahafuza Khatun</td>
                      </tr>
                     
                    </tbody>
                  </table>
                  
                 <!-- <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>-->
                </div>
              </div>
	</div>
        </div>
            </div>
              </div>
			    </div>
              </div>

			 <div class="row">
				<div class="col-lg-7">
				<div id="example1_info" class="dataTables_info">Showing 1 to 10 of 57 entries</div>
				</div>
					<div class="col-lg-5">
						<div class="dataTables_paginate paging_bootstrap">
							<ul class="pagination">
								<li class="prev disabled">
								   <a href="#">← Previous</a>								</li>
								<li class="active">
								   <a href="#">1</a>								</li>
								<li>
								   <a href="#">2</a>								</li>
								<li>
								   <a href="#">3</a>								</li>
								<li>
								   <a href="#">4</a>								</li>
								<li>
								   <a href="#">5</a>								</li>
								<li class="next">
								   <a href="#">Next → </a>								</li>
							</ul>
						</div>
					</div>
			  </div>
            </div>
        </div><!--/.container-->
    </section><!--/#feature-->
	<section id="partner">
        <div class="container">
        </div><!--/.container-->
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="https://www.mpower-social.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">mPower Social Enterprises Ltd.</a>. All Rights Reserved.                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="public/script/jquery.js"></script>
    <script src="public/script/bootstrap.min.js"></script>
    <script src="public/script/jquery.prettyPhoto.js"></script>
    <script src="public/script/jquery.isotope.min.js"></script>
    <script src="public/script/main.js"></script>
    <script src="public/script/wow.min.js"></script>
</body>
</html>