#{extends 'main.html' /}
<!-- page content -->
<link href="../../../public/style/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="../../../public/style/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="../../../public/style/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="../../../public/style/vendors/starrr/dist/starrr.css" rel="stylesheet">
    
    <!-- bootstrap-progressbar -->
    <link href="../../../public/style/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="../../../public/style/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>

        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Form Elements</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>File Upload <small>Add Documents to Archive</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form method="POST" action="@{DocumentArchiveController.submitScanDesc()}" data-parsley-validate class="form-horizontal form-label-left" enctype="multipart/form-data">
					  <input type="hidden" name="docdesclevel" id="docdesclevel" value="0"/>
					  <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Customer Id :<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="customerId" value="${docDescType?.name}" onkeyup="fillId('customerId')" id="customerId" required="required" class="form-control col-md-7 col-xs-12">                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Account Id :<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="accountId" value="${docDescType?.name}" id="accountId" required="required" class="form-control col-md-7 col-xs-12">                          
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Agreement Id :<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="agreementId" value="${docDescType?.name}" id="agreementId" required="required" class="form-control col-md-7 col-xs-12">                          
                        </div>
                      </div>
                      <div class="docdesclevel">
                      
					  <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Document Category Level 1 :</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select name="docDescTypelevel_1" id="parent" class="select2_single form-control doclevel" tabindex="-1" required="required">
                            <option value=""></option>
                            %{
								for(int j = 0; j< docDescTypeList.size(); j++)
								{
									%}<option value="${docDescTypeList.get(j).id}">${docDescTypeList.get(j).name}</option>%{
								}							
							%}
                            
                          </select>
                        </div>
                      </div>
                      <!--</div>-->
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- FastClick -->
    <script src="../../../public/style/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../../../public/style/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="../../../public/style/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="../../../public/style/vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="../../../public/script/moment/moment.min.js"></script>
    <script src="../../../public/script/datepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="../../../public/style/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="../../../public/style/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="../../../public/style/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="../../../public/style/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="../../../public/style/vendors/switchery/dist/switchery.min.js"></script>
    
    <script src="../../../public/style/vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="../../../public/style/vendors/parsleyjs/dist/parsley.min.js"></script>
    <!-- Autosize -->
    <script src="../../../public/style/vendors/autosize/dist/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="../../../public/style/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="../../../public/style/vendors/starrr/dist/starrr.js"></script>
<script type="text/javascript">
	function fillId(field)
	{
		var value = document.getElementById(field).value;
		if(value.length == 3)
		{
			value = value.substr(0,2)+'00000000'+value.substr(2,3);
			document.getElementById(field).value = value;
		}
		
	}
    $(".select2_single").select2({
		placeholder: "Select a Document Category",
		allowClear: true
	});
	
	$(document).on('change','select.doclevel',function(){
	//$('.doclevel').on('change',function () {
		var index = $(this).index() ;
		var sel = $(this).find(':selected');
		index = index+1;
		var slideIndex = $(this).closest('.doclevel').index('.doclevel');
		index = slideIndex+1;
		$('#docdesclevel').val(index);
		$('.docdesclevel').find('.form-group:gt('+(index-1)+')').remove();
		console.log("slideIndex::"+slideIndex);
	console.log( $(this).index() );
	//$('.select2_single').on('change', function(){
	//$('.select2_single').click(function() {
	  
		//alert("checked");
		$.post('@@{DocumentArchiveController.getDocDescCategory}', {id:sel.val()}, function(data){
			if(data!=null && data.length>0)
			{
				if(data=='Agreement')
				{
					$('#agreementId').attr("required",true);
				}
				else if(data=='Account')
				{
					$('#accountId').attr("required",true);
				}
				else
				{
					$('#customerId').attr("required",true);
					$('#agreementId').attr("required",false);
					$('#accountId').attr("required",false);
				}
			}
		});
		$.post('@@{DocumentArchiveController.getDocDescByLevelList}', {id:sel.val()}, function(data){
			if(data!=null && data.length>0)
			{
				add(index);
				$('.docdesclevel select:eq('+(index)+')').find('option:not(:first)').remove().end().append(data);
				$('.docdesclevel').find('.form-group:eq('+index+')').css("display","block");
				$('.select2_single').select2({
					placeholder: "Select a Document Category",
					allowClear: true
				});
			}
			//$('.docdesclevel').find('option:not(:first)').remove().end().append(data);
		});
	  
	});
function add(index)
{
	var html = '<div class="form-group" style="display:none">'+
				'	<label class="control-label col-md-3 col-sm-3 col-xs-12">Document Category Level '+(index+1)+' :</label>'+
				'   <div class="col-md-6 col-sm-6 col-xs-12">'+
				'	   <select name="docDescTypelevel_'+(index+1)+'" id="docDescTypelevel_'+(index+1)+'" class="select2_single form-control doclevel" required="required" tabindex="-1">'+
				'	      <option value=""></option>'+
				'      </select>'+
				'   </div>'+
				'</div>';
	$('.docdesclevel').append(html);	
}
</script>
