#{extends 'main.html' /}

<!-- page content -->
<link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">
    <!-- starrr -->
    <link href="../vendors/starrr/dist/starrr.css" rel="stylesheet">

<!-- Select2 -->
<script src="../../../public/style/vendors/select2/dist/js/select2.full.min.js"></script>
<style>
.wrapper         {width:98%;height:100%;margin:0 auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:60px;left:0;width:100%; height:100%;}
</style>
        <div class="right_col" role="main">
			<div class="wrapper">
			<div class="h_iframe">
				<!-- a transparent image is preferable -->
				<img class="ratio" src="http://placehold.it/16x9"/>
				<form id="editorform" action="@{DocumentArchiveController.webScanning()}" method="POST" target="myIframe">
					<input type="hidden" name="apikey" value="ea15c053ec3d77159b451f0d3cf589dc"/>
				</form>
				<iframe src="" name="myIframe" frameborder="0" allowfullscreen></iframe>				
			</div>
			<p>Please scale the "result" window to notice the effect.</p>
		</div>			
<script type="text/javascript">
var iframe = '<applet code="uk.co.mmscomputing.application.imageviewer.MainApp" height="500px" width="700px">'+
'<param name="cache_option" value="plugin"/>'+
'<param name="cache_archive" value="../public/mmsc.jar" />'+
'<param name="cache_version" value="1.0.0.0"/>'+
'</applet>';
    $(".select2_single").select2({
		placeholder: "Select a state",
		allowClear: true
	});
	document.getElementById("editorform").submit();
</script>
