<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>progress tracker</title>
	
	<!-- core style -->
    <link href="public/style/bootstrap.min.css" rel="stylesheet">
    <link href="public/style/font-awesome.min.css" rel="stylesheet">
    <link href="public/style/animate.min.css" rel="stylesheet">
    <link href="public/style/prettyPhoto.css" rel="stylesheet">
    <link href="public/style/main.css" rel="stylesheet">
    <link href="public/style/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon(2).ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	
	
	
	
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Day');
      data.addColumn('number', 'Average');
      data.addColumn('number', 'Minimum');
      data.addColumn('number', 'Maximum');

      data.addRows([
        [1,  37.8, 80.8, 41.8],
        [2,  30.9, 69.5, 32.4],
        [3,  25.4,   57, 25.7],
        [4,  11.7, 18.8, 10.5],
        [5,  11.9, 17.6, 10.4],
        [6,   8.8, 13.6,  7.7],
        [7,   7.6, 12.3,  9.6],
        [8,  12.3, 29.2, 10.6],
        [9,  16.9, 42.9, 14.8],
        [10, 12.8, 30.9, 11.6],
        [11,  5.3,  7.9,  4.7],
        [12,  6.6,  8.4,  5.2],
        [13,  4.8,  6.3,  3.6],
        [14,  4.2,  6.2,  3.4]
      ]);

      var options = {
        chart: {
          title: 'Household Size(Number of members in the family)',
          subtitle: 'in millions '
        },
        width: 900,
        height: 500,
        axes: {
          x: {
            0: {side: 'top'}
          }
        }
      };

      var chart = new google.charts.Line(document.getElementById('line_top_x'));

      chart.draw(data, options);
    }
  </script>

</head><!--/head-->

<body class="homepage">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
		        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                       <div class="social">
                            <ul class="social-share">
                                <li style="padding-right:20px"><a href="#"><img src="public/images/s_logo1.png" alt="logo"></a></li>
                                <li style="padding-right:130px"><a href="#"><img src="public/images/s_logo2.png" alt="logo"></a></li>
                                <li style="padding-right:45px"><a href="#"><img src="public/images/s_logo3.png" alt="logo"></a></li> 
                                <li style="padding-right:20px"><a href="#"><img src="public/images/s_logo4.png" alt="logo"></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i  style="color:#006cb5" class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                    </button>
                    <a class="navbar-brand" href="index.html"><img src="public/images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="account.html">Accounts</a></li>
						<li><a href="data.html">Data</a></li>
						<li><a href="profile.html">Profiles</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle active" data-toggle="dropdown">Reports<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li class="active" ><a href="graduation.html">Graduation Tracker</a></li>
                                <li><a href="#">Wage Transfer Tracker</a></li>
                                <li><a href="#">SWAPNO Result Tracker</a></li>
                                <li><a href="#">Public Work Tracker</a></li>
								<li><a href="#">UP Capacity Tracker</a></li>
								<li><a href="#">Field Officer Tracker</a></li>
                            </ul>
                        </li>
						<li class="dropdown">
						<a class="dropdown-toggle " aria-expanded="false" role="button" data-toggle="dropdown" href="#">
						<img class="img-circle" width="30px" src="public/images/man1.jpg">
						<i class="caret"></i>						</a>
                           <ul class="dropdown-menu" role="menu">
								<li style="text-align:center">
								<img class="img-circle"  width="100px" alt="User Image" src="public/images/man1.jpg">								</li>
								<li class="dropdown-header"  style="text-align:center">Dr Sumaiya Mamoozar</li>
								<li>
								<a  style="text-align:center" href="#">View Profile</a>								</li>
								<li>
								<a  style="text-align:center" href="#">Sign out</a>								</li>
						  </ul>
                        </li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
    <section id="feature2" >
        <div class="container">
		
		
				<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs"><!--tab-->
		<ul id="myTabs" class="nav nav-tabs" role="tablist">
		<li class="active" role="presentation">
		<a id="home-tab" aria-controls="home" data-toggle="tab" role="tab" href="#score" aria-expanded="true">Score</a>		</li>
		<li  role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#children" aria-expanded="false">Education</a>		</li>
		<li class="" role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#financial" aria-expanded="false">Finance</a>		</li>
		<li class="" role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#shelter" aria-expanded="false">Shelter</a>		</li>
		<li class="" role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#food" aria-expanded="false">Nutrition</a>		</li>
		<li class="" role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#helth" aria-expanded="false">Health</a>		</li>
		<li class="" role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#wash" aria-expanded="false">Wash</a>		</li>
		<li class="" role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#traning" aria-expanded="false">Training</a>		</li>
		<li class="" role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#accss" aria-expanded="false">Access to services</a>		</li>
		<li class="" role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#voice" aria-expanded="false">Voice</a>		</li>
		<li class="" role="presentation">
		<a id="profile-tab" aria-controls="profile" data-toggle="tab" role="tab" href="#iga" aria-expanded="false">IGA</a>		</li>
		</ul>
		<div id="myTabContent" class="tab-content">
		<div id="score" class="tab-pane fade active in" aria-labelledby="home-tab" role="tabpanel">
		<div class="col-lg-12"> 
			 <div class="panel panel-default">
				 <div class="panel-heading">
						Filter					  </div>
				<div class="panel-body">
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Field officer :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>District :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Upazila :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Union :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label> Beneficiary ID :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Alert :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Age :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Disability :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			   </div>
			  </div>
			</div>
		 </div>
		 <div class="col-lg-12"> 
			 <div class="panel panel-default">
				 <div class="panel-heading">
						Chart			   </div>
				<div class="panel-body">
					<div style="width:50%; margin:0 auto">
			<canvas id="canvas1" height="850" width="850"></canvas>
		</div>
				</div>
			 </div>
		 </div>
		 <div class="col-lg-12"> 
			 <div class="panel panel-default">
				 <div class="panel-heading">
						map			   </div>
				<div class="panel-body">
				<div class="col-lg-8">
				<img src="public/images/map.png" alt="map">				</div>	
				<div class="col-lg-4">
				<h2>Filter</h2>
				 <div class="form-group">
				 <label>Current Status :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
				</div>
				<div class="col-lg-4">
				 <div class="form-group">
				 <label>Services Type :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
				</div>
			    <div class="col-lg-4">
				<h2>Map Legend</h2>
				<div class="box-body">
				<p>
				<span class="text">Hospital</span>
				<small class="label label-danger">				</small>				</p>
				<p>
				<span class="text">School</span>
				<small class="label label-info">				</small>				</p>
				<p>
				<span class="text">Union Govt Offices</span>
				<small class="label label-success">				</small>				</p>
				<p>
				<span class="text">Public Work in Progress</span>
				<small class="label label-danger">
				<---------------------->				</small>				</p>
				<p>
				<span class="text">Public Work Complated</span>
				<small class="label label-info">
				<---------------------->				</small>				</p>
				<p>
				<span class="text">Public work to be worked</span>
				<small class="label label-success">
				<---------------------->				</small>				</p>
				</div>
				</div>
				</div>
			 </div>
		 </div>
		<!-- table-->
		<div class="col-lg-12"> 
			 <div class="panel panel-default">
				 <div class="panel-heading">
						Table			   </div>
				<div class="panel-body">
                  <div class="col-lg-3">
					  <div class="form-group">
					  <h1>Education</h1>
					  <h2> 30% <i class="fa fa-warning danger"></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3 style="color:#87bd4b"> <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
			   <div class="col-lg-3">
					  <div class="form-group">
					  <h1>Finance</h1>
					  <h2> 30% <i class="fa fa-warning danger"></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3> <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
				<div class="col-lg-3">
					  <div class="form-group">
					  <h1>Shelter</h1>
					  <h2> 80% <i class="fa fa-warning danger"></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3> <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
				<div class="col-lg-3">
					  <div class="form-group">
					  <h1>Nutrition</h1>
					  <h2> 20% <i class="fa fa-warning danger cr"></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3> <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
				<div class="col-lg-3">
					  <div class="form-group">
					  <h1>Health</h1>
					  <h2> 75% <i class="fa fa-warning danger"></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 75%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3> <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
				<div class="col-lg-3">
					  <div class="form-group">
					  <h1>Wash</h1>
					  <h2> 30% <i class="fa fa-warning danger"></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3> <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
				<div class="col-lg-3">
					  <div class="form-group">
					  <h1>Training</h1>
					  <h2> 40% <i class="fa fa-warning danger"></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3 > <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
				<div class="col-lg-3">
					  <div class="form-group">
					  <h1>Access to services</h1>
					  <h2> 60% <i class="fa fa-warning danger"></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3> <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
				<div class="col-lg-3">
					  <div class="form-group">
					  <h1>Voice</h1>
					  <h2> 30% <i class="fa fa-warning danger"></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 30%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3> <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
				<div class="col-lg-3">
					  <div class="form-group">
					  <h1>IGA</h1>
					  <h2> 10% <i class="fa fa-warning danger cr "></i></h2>
						 <div class="progress sm progress-striped active">
							<div class="progress-bar progress-bar-success" style="width: 10%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar">
								<span class="sr-only"></span>							</div>
						</div>
						<h3> <i class="fa fa-check-circle-o"></i>TRAINING RECEVED</h3>
					 </div>
			    </div>
			   <!-- /.box-body -->
								<!--<div class="row">
							<div class="col-lg-7">
							<div id="example1_info" class="dataTables_info">Showing 1 to 10 of 57 entries</div>
							</div>
								<div class="col-lg-5">
									<div class="dataTables_paginate paging_bootstrap">
										<ul class="pagination">
										<li class="prev disabled">
										<a href="#">← Previous</a>
										</li>
										<li class="active">
										<a href="#">1</a>
										</li>
										<li>
										<a href="#">2</a>
										</li>
										<li>
										<a href="#">3</a>
										</li>
										<li>
										<a href="#">4</a>
										</li>
										<li>
										<a href="#">5</a>
										</li>
										<li class="next">
										<a href="#">Next → </a>
										</li>
										</ul>
									</div>
								</div>
							</div>-->
               </div>
		    </div>
          </div>
        <!-- table-->
		</div>
		<div id="children" class="tab-pane fade active " aria-labelledby="profile-tab" role="tabpane2">
		<div class="col-lg-12"> 
			 <div class="panel panel-default">
				 <div class="panel-heading">
						Filter					  </div>
				<div class="panel-body">
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Field officer :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>District :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Upazila :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Union :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label> Beneficiary ID :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Alert :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Age :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Disability :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			   </div>
			  </div>
			</div>
		 </div>
		 <div class="col-lg-12"> 
			 <div class="panel panel-default">
				 <div class="panel-heading">
						Chart			   </div>
				<div class="panel-body">
					<div id="line_top_x"></div>
				</div>
			 </div>
		 </div>
		<!-- table-->
		<div class="col-lg-12"> 
			 <div class="panel panel-default">
				 <div class="panel-heading">
						Table			   </div>
				<div class="panel-body">
                                <div class="box-body table-responsive">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
											    <th>#</th>
                                                <th>Name</th>
                                                <th>Id</th>
                                                <th>Gender</th>
                                                <th>Phone</th>
                                                <th>Amount</th>
												<th>Remark</th>
												<th>Agent</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Baten</td>
                                                <td>1295732</td>
                                                <td> male</td>
                                                <td>01700023121</td>
												<td>47,000.00</td>
												<td>Remark</td>
												<td><img src="public/images/bkash.png" alt="image" title="image" class="  " /></td>
                                            </tr>
											 <tr>
                                                <td>1</td>
                                                <td>Baten</td>
                                                <td>1295732</td>
                                                <td> male</td>
                                                <td>01700023121</td>
												<td>47,000.00</td>
												<td>Remark</td>
												<td><img src="public/images/bkash.png" alt="image" title="image" class="  " /></td>
                                            </tr>
											 <tr>
                                                <td>1</td>
                                                <td>Baten</td>
                                                <td>1295732</td>
                                                <td> male</td>
                                                <td>01700023121</td>
												<td>47,000.00</td>
												<td>Remark</td>
												<td><img src="public/images/bkash.png" alt="image" title="image" class="  " /></td>
                                            </tr>
											<tr>
                                                <td>1</td>
                                                <td>Baten</td>
                                                <td>1295732</td>
                                                <td> male</td>
                                                <td>01700023121</td>
												<td>47,000.00</td>
												<td>Remark</td>
												<td><img src="public/images/bkash.png" alt="image" title="image" class=" " /></td>
                                            </tr>
											 <tr>
                                                <td>1</td>
                                                <td>Baten</td>
                                                <td>1295732</td>
                                                <td> male</td>
                                                <td>01700023121</td>
												<td>47,000.00</td>
												<td>Remark</td>
												<td><img src="public/images/bkash.png" alt="image" title="image" class=" " /></td>
                                            </tr>
											 <tr>
                                                <td>1</td>
                                                <td>Baten</td>
                                                <td>1295732</td>
                                                <td> male</td>
                                                <td>01700023121</td>
												<td>47,000.00</td>
												<td>Remark</td>
												<td><img src="public/images/bkash.png" alt="image" title="image" class=" " /></td>
                                            </tr>
											 <tr>
                                                <td>1</td>
                                                <td>Baten</td>
                                                <td>1295732</td>
                                                <td> male</td>
                                                <td>01700023121</td>
												<td>47,000.00</td>
												<td>Remark</td>
												<td><img src="public/images/bkash.png" alt="image" title="image" class=" " /></td>
                                            </tr>
                                    </table>
                                </div><!-- /.box-body -->
								<!--<div class="row">
							<div class="col-lg-7">
							<div id="example1_info" class="dataTables_info">Showing 1 to 10 of 57 entries</div>
							</div>
								<div class="col-lg-5">
									<div class="dataTables_paginate paging_bootstrap">
										<ul class="pagination">
										<li class="prev disabled">
										<a href="#">← Previous</a>
										</li>
										<li class="active">
										<a href="#">1</a>
										</li>
										<li>
										<a href="#">2</a>
										</li>
										<li>
										<a href="#">3</a>
										</li>
										<li>
										<a href="#">4</a>
										</li>
										<li>
										<a href="#">5</a>
										</li>
										<li class="next">
										<a href="#">Next → </a>
										</li>
										</ul>
									</div>
								</div>
							</div>-->
               </div>
		    </div>
          </div>
        <!-- table-->
		</div>
		<div id="financial" class="tab-pane fade" aria-labelledby="profile-tab" role="tabpanel">
		 <div class="row">
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Divition :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>District :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Upaziala :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Ward :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Union :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Sex :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Age :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
			 </div>
			 <div class="col-lg-3">
				 <div class="form-group">
				 <label>Disability :</label>
				 <select class="form-control">
				 <option>a</option>
				 <option>b</option>
				 </select>
				 </div>
		    </div>
		 </div>
		</div>
		<div id="shelter" class="tab-pane fade" aria-labelledby="dropdown1-tab" role="tabpanel">
		<p>Shelter mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
		</div>
		<div id="food" class="tab-pane fade" aria-labelledby="dropdown2-tab" role="tabpanel">
		<p>Food fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
		</div>
		<div id="helth" class="tab-pane fade" aria-labelledby="dropdown2-tab" role="tabpanel">
		<p>Food fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
		</div>
		<div id="wash" class="tab-pane fade" aria-labelledby="dropdown2-tab" role="tabpanel">
		<p>Food fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
		</div>
		<div id="traning" class="tab-pane fade" aria-labelledby="dropdown2-tab" role="tabpanel">
		<p>Food fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
		</div>
		<div id="accss" class="tab-pane fade" aria-labelledby="dropdown2-tab" role="tabpanel">
		<p>Food fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
		</div>
		<div id="voice" class="tab-pane fade" aria-labelledby="dropdown2-tab" role="tabpanel">
		<p>Food fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
		</div>
		<div id="iga" class="tab-pane fade" aria-labelledby="dropdown2-tab" role="tabpanel">
		<p>Food fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
		</div>
		</div>
		</div><!--/tab-->
           

              
        </div><!--/.container-->
    </section><!--/#feature-->
	<section id="partner">
        <div class="container">
        </div><!--/.container-->
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2016 <a target="_blank" href="https://www.mpower-social.com/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">mPower Social Enterprises Ltd.</a>. All Rights Reserved.                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="public/script/jquery.js"></script>
    <script src="public/script/bootstrap.min.js"></script>
    <script src="public/script/jquery.prettyPhoto.js"></script>
    <script src="public/script/jquery.isotope.min.js"></script>
    <script src="public/script/main.js"></script>
    <script src="public/script/wow.min.js"></script>
	<script src="public/script/Chart.js"></script>
	<script>
	var radarChartData = {
		labels: ["education", "Financ", "Shelter", "Nutrition", "Health", "Wash", "Traning","Access to services","Voice","IGA"],
		datasets: [
		
			{
				label: "My Second dataset",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: [58,48,60,19,96,67,100]
			}
		]
	};

	window.onload = function(){
		window.myRadar = new Chart(document.getElementById("canvas1").getContext("2d")).Radar(radarChartData, {
			responsive: true
		});
	}

	</script>
	

</body>
</html>