#{extends 'main.html' /}
#{set title:'Swapno' /}



<section id="feature2" >
	<div class="container">	
<div class="col-md-12">
	<h4>${header}</h4>
	
	
	
	<div class="col-md-12" style="padding-top: 40px">
		<div class="table-responsive" >
		<div id="tableDiv"></div>
			<table id="example" class="display"></table>
		</div>
	</div>
</div>

</div>
</section>


<script>
	$(document).ready(function() {
		
		var dataJson = null;
		dataJson = ${JSON_TABLE_DATA.raw()};
		//mpower_Json_to_table(dataJson);
		if (dataJson.length != 0) {
			mpower_Json_to_table(dataJson, 0); //mpower_Json_to_table.js calling for table creation.
		}
		
		 $('#example thead th').each( function () {
		        var title = $(this).text();
		        if(title==="Search Keyward")
		        $(this).append( '<input type="text" placeholder="Search '+title+'" />' );
		  } );
		 
		  table.columns().every( function () {
		        var that = this;
		 		console.log("Here");
		        $( 'input', this.header() ).on( 'keyup change', function () {
		            if ( that.search() !== this.value ) {
		                that.search( this.value )
		                    .draw();
		            }
		        } );
		    } );
	});
</script>


<script src="../../../public/script/mPower.json.to.table.js"></script>
<script src="../../../public/script/mpower_delete.js"></script>

#{cascade/}	
		